{
  "envVars": [
    { "name": "RUNNER_WORKSPACE", "value": "__WORKSPACE__" },
    { "name": "GITHUB_REPOSITORY", "value": "__REPO__" }
  ],
  "inputs": [
    { "name": "testAssembly", "value": "__TESTASSEMBLY__" },
    { "name": "searchFolder", "value": "__SEARCHFOLDER__" }
  ]
}
